cloud:
  aws:
    credentials:
      access-key: AKIA4Q54RXVCKQWH2YFX
      secret-key: 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
    region:
      static: ap-northeast-2
    s3:
      bucket: 973s3
    stack:
      auto: false

spring:
  mvc:
    pathmatch:
      matching-strategy: ant_path_matcher
  datasource:
    url: jdbc:mysql://fitnessu-db.cqgux8nf2jkp.ap-northeast-2.rds.amazonaws.com:3306/fitnessu?serverTimezone=Asia/Seoul
    #url: jdbc:mysql://localhost:3306/fitnessu?serverTimezone=Asia/Seoul
    username: admin
    password: tjrwlswntkdwnsrb1!
    driver-class-name: com.mysql.cj.jdbc.Driver

  jpa:
    hibernate:
      ddl-auto: create-drop
     # ddl-auto: update
    properties:
      hibernate:
        #      show_sql: true
        format_sql: true
        use_sql_comments: true

logging:
  level:
    org.hibernate.SQL: debug
    org.hibernate.type: trace


server:
  port: 8080
